/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../scss/_grid.scss */
.row {
  width: 100%;
  display: block;
  clear: both;
  float: left;
}
/* line 6, ../scss/_grid.scss */
.row:after {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  clear: both;
}

/* line 16, ../scss/_grid.scss */
.column {
  float: left;
}

/* line 20, ../scss/_grid.scss */
.column.large-1 {
  width: 8.33333%;
}

/* line 24, ../scss/_grid.scss */
.column.large-2 {
  width: 16.66667%;
}

/* line 27, ../scss/_grid.scss */
.column.large-3 {
  width: 25%;
}

/* line 30, ../scss/_grid.scss */
.column.large-4 {
  width: 33.33333%;
}

/* line 33, ../scss/_grid.scss */
.column.large-5 {
  width: 41.66667%;
}

/* line 36, ../scss/_grid.scss */
.column.large-6 {
  width: 50%;
}

/* line 39, ../scss/_grid.scss */
.column.large-7 {
  width: 58.33333%;
}

/* line 42, ../scss/_grid.scss */
.column.large-8 {
  width: 66.66667%;
}

/* line 45, ../scss/_grid.scss */
.column.large-9 {
  width: 75%;
}

/* line 48, ../scss/_grid.scss */
.column.large-10 {
  width: 83.33333%;
}

/* line 51, ../scss/_grid.scss */
.column.large-11 {
  width: 91.66667%;
}

/* line 54, ../scss/_grid.scss */
.column.large-12 {
  width: 100%;
}

@media screen and (max-width: 320px) {
  /* line 59, ../scss/_grid.scss */
  .column.small-1 {
    width: 8.33333%;
  }

  /* line 62, ../scss/_grid.scss */
  .column.small-2 {
    width: 16.66667%;
  }

  /* line 65, ../scss/_grid.scss */
  .column.small-3 {
    width: 25%;
  }

  /* line 68, ../scss/_grid.scss */
  .column.small-4 {
    width: 33.33333%;
  }

  /* line 71, ../scss/_grid.scss */
  .column.small-5 {
    width: 41.66667%;
  }

  /* line 74, ../scss/_grid.scss */
  .column.small-6 {
    width: 50%;
  }

  /* line 77, ../scss/_grid.scss */
  .column.small-7 {
    width: 58.33333%;
  }

  /* line 80, ../scss/_grid.scss */
  .column.small-8 {
    width: 66.66667%;
  }

  /* line 83, ../scss/_grid.scss */
  .column.small-9 {
    width: 75%;
  }

  /* line 86, ../scss/_grid.scss */
  .column.small-10 {
    width: 83.33333%;
  }

  /* line 89, ../scss/_grid.scss */
  .column.small-11 {
    width: 91.66667%;
  }

  /* line 92, ../scss/_grid.scss */
  .column.small-12 {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  /* line 100, ../scss/_grid.scss */
  .column.medium-1 {
    width: 8.33333%;
  }

  /* line 103, ../scss/_grid.scss */
  .column.medium-2 {
    width: 16.66667%;
  }

  /* line 106, ../scss/_grid.scss */
  .column.medium-3 {
    width: 25%;
  }

  /* line 109, ../scss/_grid.scss */
  .column.medium-4 {
    width: 33.33333%;
  }

  /* line 112, ../scss/_grid.scss */
  .column.medium-5 {
    width: 41.66667%;
  }

  /* line 115, ../scss/_grid.scss */
  .column.medium-6 {
    width: 50%;
  }

  /* line 118, ../scss/_grid.scss */
  .column.medium-7 {
    width: 58.33333%;
  }

  /* line 121, ../scss/_grid.scss */
  .column.medium-8 {
    width: 66.66667%;
  }

  /* line 124, ../scss/_grid.scss */
  .column.medium-9 {
    width: 75%;
  }

  /* line 127, ../scss/_grid.scss */
  .column.medium-10 {
    width: 83.33333%;
  }

  /* line 130, ../scss/_grid.scss */
  .column.medium-11 {
    width: 91.66667%;
  }

  /* line 133, ../scss/_grid.scss */
  .column.medium-12 {
    width: 100%;
  }
}
/* line 5, ../scss/_header.scss */
.pg-hdr {
  width: 100%;
  height: 90%;
  background: url("../images/bg_main.jpg");
  display: block;
  font-family: "lucido" sans-serif;
}

/* line 13, ../scss/_header.scss */
.pg-hdr-tint {
  width: 100%;
  height: 100%;
  background-color: rgba(9, 29, 41, 0.79);
}

/* line 19, ../scss/_header.scss */
.pg-hdr-nav {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 1;
}

/* line 29, ../scss/_header.scss */
.pg-hdr-logo {
  width: 50%;
  float: left;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 32px;
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.4);
}
/* line 38, ../scss/_header.scss */
.pg-hdr-logo h1 {
  font-weight: normal;
  font-size: 28px;
}

/* line 44, ../scss/_header.scss */
.pg-hdr-menu {
  float: right;
  right: 10px;
  padding-right: 20px;
  font-size: 18px;
  line-height: 50px;
}
/* line 50, ../scss/_header.scss */
.pg-hdr-menu .pg-hdr-menu-ul {
  list-style-type: none;
  color: #fff;
}
/* line 54, ../scss/_header.scss */
.pg-hdr-menu li {
  display: inline-block;
  transition: all .3s ease;
}
/* line 58, ../scss/_header.scss */
.pg-hdr-menu li:hover {
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
/* line 62, ../scss/_header.scss */
.pg-hdr-menu li:hover a {
  cursor: pointer;
  color: #333;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
/* line 67, ../scss/_header.scss */
.pg-hdr-menu a {
  text-decoration: none;
  color: #fff;
  height: 100%;
  padding: 0 10px;
}

/* line 76, ../scss/_header.scss */
.pg-hdr-tght {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 30%;
  left: 25%;
  color: #fff;
  text-align: center;
  font-size: 24px;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.4);
  font-style: italic;
}

@media screen and (max-width: 767px) {
  /* line 94, ../scss/_header.scss */
  .pg-hdr {
    background-color: #343423;
  }

  /* line 97, ../scss/_header.scss */
  .pg-hdr-logo {
    width: 100%;
    padding-top: 0;
    float: none;
    display: block;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid #333;
    border-bottom-color: rgba(0, 0, 0, 0.4);
  }

  /* line 107, ../scss/_header.scss */
  .pg-hdr-menu {
    width: 100%;
    text-align: center;
    padding-right: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
/* line 1, ../scss/_reset.scss */
*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "calbri" sans-serif;
}

/* line 1, ../scss/_current.scss */
.pro-hdr {
  width: 100%;
  text-align: center;
  padding: 10px;
  color: #333;
}
/* line 6, ../scss/_current.scss */
.pro-hdr h1 {
  font-weight: normal;
}

/* line 11, ../scss/_current.scss */
.pro-bar {
  width: 100%;
  display: inline-block;
  padding: 10px 20px;
}

/* line 17, ../scss/_current.scss */
.pro-bar-img {
  width: 30%;
  height: 30%;
  float: left;
  background: url("../images/pro1.jpg");
  background-position: center;
  background-size: cover;
}

/* line 26, ../scss/_current.scss */
.pro-bar-tint {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 31, ../scss/_current.scss */
.pro-bar-content {
  width: 70%;
  height: 30%;
  float: left;
  padding: 20px;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  /* line 41, ../scss/_current.scss */
  .pro-bar-img {
    width: 100%;
    text-align: center;
    display: block;
    float: none;
    padding: 10px 0;
  }

  /* line 49, ../scss/_current.scss */
  .pro-bar-content {
    width: 100%;
    height: auto;
    text-align: center;
    float: none;
    display: block;
    padding: 10px 0;
  }
}
/* line 1, ../scss/_testimonial.scss */
.testimonial {
  width: 100%;
  height: auto;
  padding: 0 20px;
}

/* line 7, ../scss/_testimonial.scss */
.testimonial-hdr {
  width: 100%;
  height: 50px;
  display: block;
  text-align: center;
  background-color: #333;
  color: #fff;
  border-bottom: 1px solid #444;
  line-height: 50px;
}
/* line 16, ../scss/_testimonial.scss */
.testimonial-hdr h1 {
  font-weight: normal;
}

/* line 21, ../scss/_testimonial.scss */
.testimonial-content {
  width: 50%;
  display: block;
  float: left;
  background-color: #333;
  padding: 10px 20px;
  border-bottom: 1px solid #444;
  border-right: 1px solid #444;
}

/* line 31, ../scss/_testimonial.scss */
.testimonial-content-img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: #444;
  float: left;
  padding-right: 10px;
  background: url("../images/profile1.jpg");
  background-position: center;
  background-size: cover;
}

/* line 43, ../scss/_testimonial.scss */
.testimonial-content-desc {
  text-align: justify;
  padding-top: 25px;
  padding-left: 10px;
  width: 80%;
  float: right;
  color: #fff;
}

@media screen and (max-width: 767px) {
  /* line 54, ../scss/_testimonial.scss */
  .testimonial-content {
    width: 100%;
    display: block;
    padding: 0;
  }

  /* line 59, ../scss/_testimonial.scss */
  .testimonial-content-img {
    float: none;
    text-align: center;
    margin-top: 20px;
    display: block;
    margin-left: 43%;
  }

  /* line 66, ../scss/_testimonial.scss */
  .testimonial-content-desc {
    float: none;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
  }
}
/* line 1, ../scss/_footer.scss */
.main-footer {
  width: 100%;
  height: auto;
  margin-top: 20px;
  padding: 20px;
  background-color: #333;
  display: inline-block;
}

/* line 10, ../scss/_footer.scss */
.main-footer-map {
  width: 33.3333%;
  height: 33.3333%;
  background-color: #444;
  border: 1px solid #666;
  float: left;
  margin-right: 5px;
  background: url("../images/map.png");
  background-position: center;
}

/* line 21, ../scss/_footer.scss */
.main-footer-link {
  float: left;
  text-align: left;
}
/* line 24, ../scss/_footer.scss */
.main-footer-link ul {
  list-style-type: none;
  padding-left: 50px;
  float: left;
}
/* line 29, ../scss/_footer.scss */
.main-footer-link li {
  padding: 10px 0;
  border-bottom: 1px solid #444;
}
/* line 33, ../scss/_footer.scss */
.main-footer-link a {
  text-decoration: none;
  color: #fff;
  text-align: left;
}

/* line 40, ../scss/_footer.scss */
.main-footer-add {
  float: right;
  text-align: right;
}
/* line 43, ../scss/_footer.scss */
.main-footer-add ul {
  list-style-type: none;
  font-size: 16px;
  text-align: right;
  padding-top: 10px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  /* line 53, ../scss/_footer.scss */
  .main-footer-map {
    display: block;
    width: 100%;
    text-align: center;
  }

  /* line 59, ../scss/_footer.scss */
  .main-footer-link {
    display: none;
  }

  /* line 62, ../scss/_footer.scss */
  .main-footer-add {
    text-align: center;
    width: 100%;
    padding-top: 20px;
  }
  /* line 66, ../scss/_footer.scss */
  .main-footer-add ul {
    text-align: center;
  }
}
