.main-footer {
    width:100%;
    height:auto;
    margin-top:20px;
    padding:20px;
    background-color:#405964;
    display:inline-block;
}
.main-footer-map {
    width:33.3333%;
    height:33.3333%;
    background-color:#444;
    border:1px solid #666;
    float:left;
    margin-right:5px;
    background:url('../images/map.png');
    background-position:center;
}
.main-footer-link {
    float:left;
    text-align:left;
    h4 {
        padding-bottom:10px;
        color:#333;
    }
    ul {
        list-style-type:none;
        padding-left:50px;
        float:left;
        li {
            font-size:16px;
            text-transform:uppercase;
            font-size:12px;
        }
        a {
            text-decoration:none;
            color:#fff;
            text-align:left;
        }
    }
}
.main-footer-app {
    float:left;
    padding-right:50px;
    padding-left:50px;
    width:auto;
    h4 {
        padding-bottom:10px;
        color:#333;
    }

    ul {
        list-style-type:none;
        padding-top:10px;
        li {
            padding-left:0;
            width:auto;
            height:auto;
        }
}
}
.main-footer-add {
    float:right;
    text-align:right;
    h4 {
        padding-bottom:10px;
        color:#333;
    }

    ul {
        list-style-type:none;
        font-size:12px;
        text-align:right;
        padding-top:10px;
        color:#fff;
        text-transform:uppercase;
    }
}
.main-footer-social-link {
    width:auto;
    height:auto;
    ul {
        list-style-type:none;
        li {
            float:left;
            padding-left:5px;
        }
    }
}


@media screen and (max-width:767px){
    .main-footer-map {
        display:block;
        width:100%;
        text-align:center;
    }

    .main-footer-link {
        display:none;
    }
    .main-footer-app {
        text-align:center;
        width:100%;
        padding-top:20px;
        h4 {
            display:block;
            text-align:center;
            padding:0;
            width:100%;
        }
        ul {
            text-align:center;
        }
    }
    .main-footer-add {
        text-align:center;
        width:100%;
        padding-top:20px;
        ul {
            text-align:center;
        }
    }
}
